= render :partial => 'admin/shared/fulfillment_sub_menu'

%h1 PO Files
%div
  %table
    %thead
      %tr
        %th
          = t('file_name')
        %th
          = t('record_count')
        %th
          = t('created_at')
        %th
          = t('file_path')
    %tbody
      = render @po_files

= form_tag(admin_po_files_path) do |f|
  = button t('create_po_file'), 'add'