= render :partial => 'admin/shared/fulfillment_sub_menu'

%h2 #{@po_file.file_name}

%p Created at #{@po_file.created_at.strftime("%m-%d-%y %h:%M")}

%h2 Contents
%div.contents
  - if @po_file.data
    %pre #{@po_file.data}
  - else
    &mdash;

= form_tag(admin_po_files_path) do |f|
  = button_link_to t('continue')

