= render :partial => 'admin/shared/fulfillment_sub_menu'

%h2 #{@po_file.file_name}

%p Created at #{@po_file.created_at.strftime("%m-%d-%y %h:%M")}

%h2 Contents
%div.contents
  %pre #{@po_file.load_file}


%div #{button_to 'Generate PO', admin_po_files_path}