.asn_shipment_detail
  != data_pair(:asn_order_status) {asn_shipment_detail.asn_order_status.description}
  != data_pair(:asn_shipping_method_code) {asn_shipment_detail.asn_shipping_method_code}
  != data_pair(:asn_slash_code) {asn_shipment_detail.asn_slash_code}
  != data_pair(:dc_code) {asn_shipment_detail.dc_code.dc_name}
  != data_pair(:ingram_item_list_price) {number_to_currency asn_shipment_detail.ingram_item_list_price}
  != data_pair(:net_discounted_price) {number_to_currency asn_shipment_detail.net_discounted_price}
  != data_pair(:ingram_order_entry_number) {asn_shipment_detail.ingram_order_entry_number}
  != data_pair(:isbn_10_ordered) {asn_shipment_detail.isbn_10_ordered}
  != data_pair(:isbn_10_shipped) {asn_shipment_detail.isbn_10_shipped}
  != data_pair(:isbn_13) {asn_shipment_detail.isbn_13}
  != data_pair(:line_item) {asn_shipment_detail.line_item.variant.sku}
  != data_pair(:order) {asn_shipment_detail.order.number}
  != data_pair(:quantity_canceled) {asn_shipment_detail.quantity_canceled}
  != data_pair(:quantity_predicted) {asn_shipment_detail.quantity_predicted}
  != data_pair(:quantity_shipped) {asn_shipment_detail.quantity_shipped}
  != data_pair(:quantity_slashed) {asn_shipment_detail.quantity_slashed}
  != data_pair(:ssl) {asn_shipment_detail.ssl}
  != data_pair(:standard_carrier_address_code) {asn_shipment_detail.standard_carrier_address_code}
  != data_pair(:tracking_number) {asn_shipment_detail.tracking_number}
  != data_pair(:weight) {asn_shipment_detail.weight}