= render :partial => 'admin/shared/fulfillment_sub_menu'

%div.admin_buttons
  %div #{button_link_to t('back'), admin_fulfillment_asn_files_path, :icon => '16x16/8'}

%h1 #{t 'asn_files'}

%h2 #{@asn_file.file_name}

%p #{t 'created_at'} #{@asn_file.created_at.strftime("%m-%d-%y %H:%M")}
%div
  #{t 'imported_at'}
  - if @asn_file.imported_at
    #{@asn_file.created_at.strftime("%m-%d-%y %H:%M")}
    %div
      = link_to_with_icon 'add', t('import_now'), import_admin_fulfillment_asn_file_path(@asn_file), method: :post
  - else
    &mdash;
    
%div.field_pair
  %legend
    = t('file_path')
  = @asn_file.path

%h2 #{t 'parsed'}
%pre #{@asn_file.parsed.to_yaml}

%h2 #{t 'contents'}
%div.contents
  - if @asn_file.data
    %pre #{@asn_file.data}
  - else
    &mdash;

- content_for :sidebar do
  .box
    %h3
      #{@asn_file.orders.count} #{t 'orders'}
    %table
      %thead
        %tr
          %th #{t 'id'}
          %th #{t 'completed_date'}
      %tbody
      - for order in @asn_file.orders do
        %tr
          %td
            = link_to order.number, fulfillment_admin_order_path(order)
          %td
            = order.completed_at.strftime("%m-%d-%y") if order.completed_at

