= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Fulfillment"}

%h2 #{t("fulfillment")}

%h3 #{t("po_files")}
%div
  - if @order.po_file
    %div
      %strong File Name:
      = link_to @order.po_file.file_name, admin_fulfillment_po_file_path(@order.po_file)
    %div
      %strong Date:
      = @order.po_file.created_at.strftime("%m-%d-%y %H:%M")
  - else
    &mdash;

%h3 #{t("poa_files")}
%div   &mdash;

%h3 #{t("asn_files")}
%div   &mdash;
