= render :partial => 'admin/shared/fulfillment_sub_menu'

%div.admin_buttons
  %div #{button_link_to t('back'), admin_fulfillment_poa_files_path, :icon => '16x16/8'}

%h1 #{t 'poa_files'}


%h2 #{@poa_file.file_name}

%div
  %legend
    = t 'poa_type'
  #{@poa_file.poa_type.try(:description)}

%p #{t 'created_at'} #{@poa_file.created_at.strftime("%m-%d-%y %h:%M")}
%div
  #{t 'imported_at'}
  - if @poa_file.imported_at
    #{@poa_file.created_at.strftime("%m-%d-%y %h:%M")}
    %div
      = link_to_with_icon 'add', t('import_now'), import_admin_fulfillment_poa_file_path(@poa_file), method: :post
  - else
    &mdash;
    
%div.field_pair
  %legend
    = t('file_path')
  = @poa_file.path

%h2 #{t 'parsed'}
%pre #{@poa_file.parsed.to_yaml}

%h2 #{t 'contents'}
%div.contents
  - if @poa_file.data
    %pre #{@poa_file.data}
  - else
    &mdash;

- content_for :sidebar do
  .box
    %h3
      #{@poa_file.orders.count} #{t 'orders'}
    %table
      %thead
        %tr
          %th #{t 'id'}
          %th #{t 'completed_date'}
      %tbody
      - for order in @poa_file.orders do
        %tr
          %td
            = link_to order.number, fulfillment_admin_order_path(order)
          %td
            = order.completed_at.strftime("%m-%d-%y")

