#order_status
  
  #po_files
    %h2 #{t("po_files")}
    %div
      - if @order.po_file
        %div
          %label #{t 'file_name'}:
          = link_to @order.po_file.file_name, admin_fulfillment_po_file_path(@order.po_file)
        %div
          %label #{t 'created_at'}:
          = @order.po_file.created_at.strftime("%m/%d/%y %H:%M")
        %div
          %label #{t 'submitted_at'}:
          = @order.po_file.submitted_at.strftime("%m/%d/%y %H:%M")
  #poa_files
    %h2 #{t 'poa_files' }
    - @order.poa_order_headers.each do |h|
      - poa_file = h.poa_file
      .poa_file
        .dates
          %div
            %label #{t 'file_name'}
            = link_to poa_file.file_name, admin_fulfillment_poa_file_path(poa_file)
          %div
            %label #{t 'created_at'}
            = poa_file.created_at.strftime("%m/%d/%y %H:%M")
          %div
            %label #{t 'imported_at'}
            = poa_file.imported_at.strftime("%m/%d/%y %H:%M")
        .vendor_message
          %div
            %label #{t 'vendor_message' }
          = h.vendor_message
        .po_status
          %label #{t 'po_status'}
          #{h.po_status.name} (#{h.po_status.code})
        .po_date
          %label #{t 'po_date' }
          = h.po_date.strftime("%m/%d/%y %H:%M")
        .poa_order_control_totals
          .total_line_items_in_file
            %label #{t 'total_line_items_in_file' }
            = h.poa_order_control_total.total_line_items_in_file
          .total_units_acknowledged
            %label #{t 'total_units_acknowledged' }
            = h.poa_order_control_total.total_units_acknowledged
        - if h.poa_ship_to_name || h.poa_city_state_zip
          .address_verification
            %h3 #{t 'address_verification' }
            .poa_ship_to_name
              - if h.poa_ship_to_name
                = h.poa_ship_to_name.recipient_name
              - else
                no ship_to_name
            .poa_city_state_zip
              - if h.poa_city_state_zip
                = h.poa_city_state_zip.state.name
                = h.poa_city_state_zip.country.name
                = h.poa_city_state_zip.zip_postal_code
              - else
                no city/state/zip
          
  #asn_files
    %h2 #{t("asn_files")}
    %div
      - @order.asn_shipments.each do |asn_shipment|
        - asn_file = asn_shipment.asn_file
        .file_name
          %label #{t 'file_name'}
          = link_to asn_file.file_name, admin_fulfillment_asn_file_path(asn_file)
        .created_at
          %label #{t 'created_at'}
          = asn_file.created_at.strftime("%m/%d/%y %H:%M")
        .imported_at
          %label #{t 'imported_at'}
          = asn_file.imported_at.strftime("%m/%d/%y %H:%M")
        .asn_shipments
          %h3 #{t 'asn_shipments'}
          .asn_shipment
            .asn_order_status
              %label #{t 'shipment_status'}
              #{asn_shipment.asn_order_status.description} (#{asn_shipment.asn_order_status.code})
            .shipment_date
              %label #{t 'shipment_date'}
              = asn_shipment.shipment_date.strftime("%m/%d/%y %H:%M")
            .freight_charge
              %label #{t 'freight_charge'}
              = number_to_currency asn_shipment.freight_charge
            .shipping_and_handling
              %label #{t 'shipping_and_handling'}
              = number_to_currency asn_shipment.shipping_and_handling
            .sales_tax
              %label #{t 'sales_tax'}
              = number_to_currency asn_shipment.sales_tax                            
            .order_discount_amount
              %label #{t 'order_discount_amount'}
              = number_to_currency asn_shipment.order_discount_amount              
            .order_subtotal
              %label #{t 'order_subtotal'}
              = number_to_currency asn_shipment.order_subtotal              
            .order_total
              %label #{t 'order_total'}
              = number_to_currency asn_shipment.order_total
            .asn_shipment_details
              %h3 #{t 'asn_shipment_details'}
              - asn_shipment.asn_shipment_details.each do |asn_shipment_detail|
                .asn_shipment_detail
                  = asn_shipment_detail
              
                                          
  -#= @order.cdf_invoice_files

%br{:clear => 'all' }
