#order_status
  
  #po_files
    %h2 #{t("po_files")}
    %div
      - if @order.po_file
        != data_pair(:file_name) {link_to @order.po_file.file_name, admin_fulfillment_po_file_path(@order.po_file)}
        != data_pair(:submitted_at) {@order.po_file.submitted_at.strftime("%m/%d/%y %H:%M")}
  #poa_files
    %h2 #{t 'poa_files' }
    - @order.poa_order_headers.each do |h|
      - poa_file = h.poa_file
      .poa_file
        != data_pair(:file_name) {link_to poa_file.file_name, admin_fulfillment_poa_file_path(poa_file)}
        != data_pair(:imported_at) {poa_file.imported_at.strftime("%m/%d/%y %H:%M")}
        != data_pair(:vendor_message) {h.vendor_message}
        != data_pair(:po_status) {"#{h.po_status.name} (#{h.po_status.code})"}
        != data_pair(:po_date) {h.po_date.strftime("%m/%d/%y %H:%M")}
        .poa_order_control_totals
          != data_pair(:total_line_items_in_file) {h.poa_order_control_total.total_line_items_in_file}
          != data_pair(:total_units_acknowledged) {h.poa_order_control_total.total_units_acknowledged}
        - if h.poa_ship_to_name || h.poa_city_state_zip
          .address_verification
            %h3 #{t 'address_verification' }
            .poa_ship_to_name
              - if h.poa_ship_to_name
                = h.poa_ship_to_name.recipient_name
              - else
                no ship_to_name
            .poa_city_state_zip
              - if h.poa_city_state_zip
                = h.poa_city_state_zip.state.name
                = h.poa_city_state_zip.country.name
                = h.poa_city_state_zip.zip_postal_code
              - else
                no city/state/zip
          
  #asn_files
    %h2 #{t("asn_files")}
    %div
      - @order.asn_shipments.each do |asn_shipment|
        - asn_file = asn_shipment.asn_file
        != data_pair(:file_name) {link_to asn_file.file_name, admin_fulfillment_asn_file_path(asn_file)}
        != data_pair(:imported_at) {asn_file.imported_at.strftime("%m/%d/%y %H:%M")}
        .asn_shipments
          %h3 #{t 'asn_shipments'}
          .asn_shipment
            != data_pair(:asn_order_status, :label => t('shipment_status')) {"#{asn_shipment.asn_order_status.description} (#{asn_shipment.asn_order_status.code}) [id: #{asn_shipment.id}]"}
            != data_pair(:shipment_date) {asn_shipment.shipment_date.strftime("%m/%d/%y %H:%M")}
            != data_pair(:freight_charge) {number_to_currency asn_shipment.freight_charge}
            != data_pair(:shipping_and_handling) {number_to_currency asn_shipment.shipping_and_handling}
            != data_pair(:sales_tax) {number_to_currency asn_shipment.sales_tax}
            != data_pair(:order_discount_amount) {number_to_currency asn_shipment.order_discount_amount}
            != data_pair(:order_subtotal) {number_to_currency asn_shipment.order_subtotal}
            != data_pair(:order_total) {number_to_currency asn_shipment.order_total}
            .asn_shipment_details
              %h3 #{t 'asn_shipment_details'}
              - asn_shipment.asn_shipment_details.each do |asn_shipment_detail|
                = render 'admin/fulfillment/asn_files/asn_shipment_detail', :asn_shipment_detail => asn_shipment_detail
                  
                                          
  -#= @order.cdf_invoice_files

%br{:clear => 'all' }
