= render :partial => 'admin/shared/fulfillment_sub_menu'

%div.admin_buttons
  %div #{button_link_to t('back'), send("admin_fulfillment_#{type}_files_path".to_sym), :icon => '16x16/8'}

%h1 #{t "#{type}_files"}

%h2 #{import_file.file_name}

%p #{t 'created_at'} #{import_file.created_at.strftime("%m-%d-%y %H:%M")}
%div
  #{t 'imported_at'}
  - if import_file.imported_at
    #{import_file.created_at.strftime("%m-%d-%y %H:%M")}
    %div
      = link_to_with_icon 'add', t('import_now'), send("import_admin_fulfillment_#{type}_file_path", import_file), method: :post
  - else
    &mdash;
    
%div.field_pair
  %legend
    = t('file_path')
  = import_file.path

%h2 #{t 'parsed'}
%pre #{import_file.parsed.to_yaml}

%h2 #{t 'contents'}
%div.contents
  - if import_file.data
    %pre #{import_file.data}
  - else
    &mdash;

- content_for :sidebar do
  .box
    %h3
      #{import_file.orders.count} #{t 'orders'}
    %table
      %thead
        %tr
          %th #{t 'id'}
          %th #{t 'completed_date'}
      %tbody
      - for order in import_file.orders do
        %tr
          %td
            = link_to order.number, fulfillment_admin_order_path(order)
          %td
            = order.completed_at.strftime("%m-%d-%y") if order.completed_at

